/************************************************************
* 變數設定與覆寫 Bootstrap 預設樣式
************************************************************/
:root { 
	--primary: #9f050b;
	--primary-normal-font: 'Shin Go Regular';
	--primary-bold-font: 'Shin Go DeBold';
}

.bg-primary {
	background-color: var(--primary) !important;
}

.text-primary {
	color: var(--primary) !important;
}


/************************************************************
* 自定樣式
************************************************************/
html, body {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "A-OTF 新ゴ Pro", "A-OTF Shin Go Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; 
	/*font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;*/
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family:  var(--primary-normal-font);
}

h1 {
	font-size:  5rem;
}

h2 {
	font-size:  3.75rem;
}

h3 {
	font-size: 2.75rem;
}

strong, .strong {
	font-family: var(--primary-bold-font) ;
}

.countdown {
	background: #242f3f;
	color: #f5d860;
	padding: 10px 0;
	font-size: 1.25rem;
	position: relative;
	z-index: 99;
}

.countdown > span {
	display: inline-block;
	border: 2px solid #f5d860;
	padding:  0.25rem 6rem;
	border-radius:  100px;
}

.customer-container {
	max-width: 810px;
	margin: 0 auto;
}

#intro {
	border: 1px solid #bcbcbc;
	border-top: none;
	border-bottom: none;
	box-shadow: 0 0 5px 5px #e2e2e2;
}

ul.list-square {
	list-style: none;
	padding-left: 1rem;
}

ul.list-square li::before {
	content: '■';
	margin-left: -1rem;
	display: inline-block;
	color: var(--primary);
}

p {
	font-weight: normal;
	margin-bottom: 1.7rem;
}

p:last-child {
	margin-bottom: 0;
}

a {
	color: #999;
	text-decoration: underline;
}

ul {
	list-style: none;
}

li {
	position: relative;
}

footer {
	padding: 2% 0;
	background: #fff;
	color: #999;
	text-align: center;
}

footer p {
	font-weight: 400;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	color: var(--primary);
	text-decoration: none;
}

/************************************************************
* 行動裝置樣式
************************************************************/
@media (max-width: 768px) {
	body {
		font-size: 0.95rem;
	}

	h1 {
		font-size: 2.25rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	.countdown > span {
		font-size: 0.875rem;
		padding: 0.25rem 3rem;
	}

	#intro {
		border: none;
		box-shadow: none;
	}

	#intro h3 {
		font-size: 1.75rem;
	}

	.text-small {
		font-size: 12px;
	}

	.card {
		border: none;
	}

	footer {
		padding-top: 7%;
		padding-bottom: 7%;
		font-size: 13px;
	}
}