/************************************************************
* 變數設定與覆寫 Bootstrap 預設樣式
************************************************************/
:root { 
	--primary: #9f050b;
	--primary-normal-font: 'Shin Go Regular';
	--primary-bold-font: 'Shin Go DeBold';
}

.bg-primary {
	background-color: var(--primary) !important;
}

.text-primary {
	color: var(--primary) !important;
}


/************************************************************
* 自定樣式
************************************************************/
html, body {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "A-OTF 新ゴ Pro", "A-OTF Shin Go Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; 
	/*font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;*/
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family:  var(--primary-normal-font);
}

h1 {
	font-size:  5rem;
}

h2 {
	font-size:  4rem;
}

h3 {
	font-size: 3rem;
}

strong, .strong {
	font-family: var(--primary-bold-font) ;
}




.countdown {
	background: #242f3f;
	color: #f5d860;
	padding: 10px 0;
	font-size: 1.25rem;
	position: relative;
	z-index: 99;
}

.countdown > span {
	display: inline-block;
	border: 2px solid #f5d860;
	padding:  0.25rem 6rem;
	border-radius:  100px;
}

#intro {
	border: 1px solid #bcbcbc;
	border-top: none;
	border-bottom: none;
	box-shadow: 0 0 5px 5px #e2e2e2;
}








p {
	font-weight: normal;
	margin-bottom: 1.7rem;
}

p:last-child {
	margin-bottom: 0;
}

a {
	color: #999;
	text-decoration: underline;
}

ul {
	list-style: none;
}

li {
	position: relative;
	margin-top:1rem;
}

li:first-child {
	margin-top: 0;
}

main section.alt {
	background: #f0eeeb;
}



.check-circle {
	/*margin-left: 6rem;*/
	font-weight: 700;
}

.check-circle li::before {
	position: absolute;
	content: '\f058';
	font-family: 'Font Awesome 5 Free';
	font-size: 1.25rem;
	font-weight: 900;
	left: -2.5rem;
	top: -3px;
	color: var(--primary);
}

.card-header{
	margin-bottom: 0 !important;
	font-size: 1.2rem;
	font-weight: 900;
	padding-left: 0;
}

.card-body{
	/* padding: 3rem 12rem; */
	padding: 2rem 0rem;
}

.color-circle {
	display: block;
	background: var(--primary);
	color: #fff;
	border-radius: 100%;
	width: 64px;
	height: 64px;
	line-height: 67px;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 900;
}

td.active {
	background: #fff1d5;
}

.table .text-muted {
	font-size: 0.8em;
}

.qa .card-header {
	padding-top: 1rem;
	background: #fff;
	border: none;
	font-weight: 900;
}

.qa .card-header:first-child {
	padding-top: 0;
}

.qa .card-body {
	background: #f0eeeb;
}

.qa p {
	padding: 0px 80px;
}

.qa p:last-child {
	margin-bottom: 0;
}

footer {
	padding: 2% 0;
	background: #fff;
	color: #999;
	text-align: center;
}

footer p {
	font-weight: 400;
}

footer p:last-child {
	margin: 0px;
}


/************************************************************
* 行動裝置樣式
************************************************************/
@media (max-width: 768px) {
	body {
		font-size: 0.95rem;
	}

	h1 {
		font-size: 2.25rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	.countdown > span {
		font-size: 0.875rem;
		padding: 0.25rem 3rem;
	}

	#intro {
		border: none
		box-shadow: none;
	}

	#intro h3 {
		font-size: 1.5rem;
	}

	footer {
		padding-top: 7%;
		padding-bottom: 7%;
		font-size: 13px;
	}
}